<section>
            <div class="form-container">
                <h1>Login</h1>
                <form action="/login" method="POST" class="form">
                    <div>
                        <label for="name" > Usuário</label>
                        <input type="text" name="name">
                    </div>
                    <div>
                        <label for="password" > Senha</label>
                        <input type="password" name="password" id="password" placeholder="* * * * * * * *" required>
                    </div>
                    <input type="submit" class="submitBtn">
                </form>
            </div>
        </section>