<section>
            <div class="form-container">
                <h1>Registrar</h1>
                <form action="/register" method="POST" class="form">
                    <div>
                        <label for="name" > Usuario</label>
                        <input type="text" name="name" id="usuario" placeholder="nome de usuario" required>
                    </div>
                    <div>
                        <label for="email"> Email</label>
                        <input type="email" name="email" id="email" placeholder="email@yahoo.com" required>
                    </div>
                    <div>
                        <label for="password" > Senha</label>
                        <input type="password" name="password" id="password" placeholder="* * * * * * * *" required>
                    </div>
                    <div>
                        <label for="confirmpassword"> Confirme a Senha</label>
                        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="* * * * * * * *" required>
                    </div>
                    <input type="submit" class="submitBtn">
                </form>
            </div>
</section>