<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Express Aula</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="/login">Login</a></li>
                <li> <a href="/register">Registrar</a></li>
                <li> <a href="/cadastro">Cadastro</a></li>
                <li> <a href="/">Link 2</a></li>
                <li> <a href="/">Link 3</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>