<section>
    <div class="perfil-container">
        <h2>Meus Dados Pessoais</h2>
        <ul>
            <li>Nome: <span></span></li>
            <li>Sobrenome <span></span></li>
            <li>Contato: <span></span></li>
            <li>CPF: <span></span></li>
            <li>identidade: <span></span></li>
            <li>Profissão: <span></span></li>
            <li>E-mail: <span></span></li>
            <li>Bairro: <span></span></li>
            <li>Rua: <span></span></li>
            <li>Complemento: <span></span></li>
            <li>Estado: <span></span></li>
            <li>Cidade: <span></span></li>
            <form action="">
                <input type="hidden" name="id" value="{{this.id}}">
                <input type="submit" value="Deletar" class="">
            </form>
        </ul>
    </div>
</section>