<section>
            <div class="form-container">
                <h1>Registrar</h1>
                <form action="" class="form">
                    <div>
                        <label for="usuario" > Usuario</label>
                        <input type="text" name="usuario" id="usuario" placeholder="nome de usuario">
                    </div>
                    <div>
                        <label for="password" > Senha</label>
                        <input type="password" name="password" id="password" placeholder="* * * * * * * *">
                    </div>
                    <div>
                        <label for="confirmpassword"> Confirme a Senha</label>
                        <input type="confirmpassword" name="confirmpassword" id="confirmpassword" placeholder="* * * * * * * *">
                    </div>
                </form>
            </div>
        </section>